.item
  .head
    = "#{education.degree}, #{education.year}, #{education.institution.andand.name}, #{education.andand.institution.location}"
  .details
    = simple_format education.andand.description
    -if defined? links and links
      =render :partial=>'cv_base/links', :locals=>{:one=>education}
    %hr