- content_for :actions do
  = circle_plus_left_fg_button_to("New Education", new_cv_education_instance_path )
  
- for edu in @education
  %h5= "#{edu.degree}, #{edu.year}"
  .prepend-1
    = "#{edu.institution.andand.name}, #{edu.andand.institution.location}"
    .links.clearfix
      = link_to "Edit", edit_cv_education_instance_path(@cv, edu)
      |
      = link_to "Delete", delete_cv_education_instance_path(@cv, edu)

    %hr



