-content_for :actions do
  =circle_plus_left_fg_button_to "add new", new_cv_presentation_path(@cv)

-for presentation in @presentations  
  %span.title= presentation.title
  %br
  ="#{presentation.conference}, #{presentation.location}, #{presentation.given_at}"
  %br
  %span.authors= html_authors_for(presentation,@cv)
  .links.clearfix
    =link_to "edit", edit_cv_presentation_path(@cv,presentation)
    | 
    =link_to "remove", delete_cv_presentation_path(@cv,presentation)
  %hr
  
  

