.item
  .head
    = "#{training.andand.year}, #{training.andand.level} in #{training.andand.specialty}"
  .details
    = simple_format training.andand.description
    -if defined? links and links
      =render :partial=>'cv_base/links', :locals=>{:one=>training}

    %hr