- content_for :actions do
  =circle_plus_left_fg_button_to "New Training", new_cv_training_instance_path 

  
- for training in @training
  %h5= "#{training.andand.year}, #{training.andand.level} in #{training.andand.specialty}"
  .prepend-1= training.institution.andand.name
  .links.clearfix
    = link_to "Edit", edit_cv_training_instance_path(@cv, training)
    |
    = link_to "Delete", delete_cv_training_instance_path(@cv, training)
  %hr
%p

