.item
  .head
    -if book.is_chapter
      %span.title= h "#{book.chapter_title} "
      ="in #{book.book_title}"
    -else
      %span.title= h book.book_title
  .details
    %span.authors= html_authors_for(book,@cv)
    -if defined?(links) and links
      %div(class='links' id="links-#{book.id}")
        =render :partial => 'cv_base/links', :locals=>{:one=>book}


