
- form_for [@cv,@one], :builder=>CvFormBuilder do |f|
  =f.begin_form :legend=>'Article'
  = f.text_area :title, :rows=>2,  :class=>'required'
  = f.text_area :author_list, :rows=>2, :class=>'required author_list'
  -f.fields_for @journal_attributes do |j|
    =j.text_field :long_title, :size=>70, :label=>'Journal'
    =j.hidden_field :short_title
    =j.hidden_field :issn
    =j.hidden_field :nlmuid
  = f.text_field :journal_year, :size=>5, :class=>'year', :label=>'Year'
  = f.text_field :journal_volume, :size=>5, :class=>'volume', :label=>'Volume'
  = f.text_field :journal_issue, :size=>5, :class=>'issue', :label=>'Issue'
  = f.text_field :journal_pages, :size=>15, :class=>'pages', :label=>'Pages'

  =f.hidden_field :paper_type
  =f.hidden_field :pmed_date
  =f.hidden_field :pub_model
  =f.hidden_field :abstract
  =f.hidden_field :pmid
  =f.end_form
