
.item
  .head
    = "#{employment.andand.start_date} to #{employment.andand.end_date} #{employment.institution.andand.name}, #{employment.institution.andand.location}"
  .details
    = simple_format employment.andand.description
    -if defined? links and links
      =render :partial=>'cv_base/links', :locals=>{:one=>employment}
      
    %hr