- content_for :actions do
  =circle_plus_left_fg_button_to "Add new", new_cv_employment_instance_path 

- for employment in @employment 
  %h5= "#{employment.institution.andand.name}, #{employment.institution.andand.location} (#{employment.andand.start_date}-#{employment.andand.end_date})"
  .prepend-1= employment.andand.description
  .links.clearfix
    = link_to "Edit", edit_cv_employment_instance_path(@cv, employment)
    |
    = link_to "Delete", delete_cv_employment_instance_path(@cv, employment)
  %hr
%p


