%h2= @faculty.name
%hr

%table.span-45.arvu
  %tr
    %th Faculty Statistics:
  %tr
    %td.span-35.label Total faculty members:
    %td.span-10.data= @faculty_count
  %tr
    %td.span-35.label Total section members:
    %td.span-10.data= @section_count
  %tr
    %th Personal Statistics for #{@year}:
  %tr
    %td.span-35.label Number of papers
    %td.span-10.data= @faculty.papers(@year).count
  %tr
    %td.span-35.label Number of books
    %td.span-10.data= @faculty.books(@year).count
  %tr
    %td.span-35.label Number of chapters
    %td.span-10.data= @faculty.chapters(@year).count
  %tr
    %td.span-35.label Presentations
    %td.span-10.data= @faculty.presentations(@year).count
  %tr
    %td.span-35.label Resident teaching score
    %td.span-10.data= @faculty.resident_teaching
  %tr
    %td.span-35.label Med Student teaching score
    %td.span-10.data= @faculty.medstudent_teaching
  %tr
    %td.span-35.label Clinical RVUs
    %td.span-10.data= @faculty.clinical_rvu
  %tr
    %th Academic RVU:
  %tr
    %td.span-35.label Clinical (RVU rank overall) - out of 4pts
    %td.span-10.data= "#{@all_clinical_points}"
  %tr
    %td.span-35.label Clinical (Section RVU rank) - out of 2pts
    %td.span-10.data= "#{@section_clinical_points}"
  %tr
    %td.span-35.label Resident teaching - out of 2.5pts
    %td.span-10.data= @res_education_points
  %tr
    %td.span-35.label Medical Student teaching - out of 0.5pts
    %td.span-10.data= @ms_education_points
  %tr
    %td.span-35.label Admin points - out of 3pts
    %td.span-10.data= @admin_points
  %tr
    %td.span-35.label Citizenship points - out of 3pts
    %td.span-10.data= @citizenship_points
  %tr
    %td.span-35.label Longevity points - max 3pts
    %td.span-10.data= @longevity_points
  %tr
    %td.span-35.label Academic points - max 3pts
    %td.span-10.data= @academic_points
  %tr
    %td.span-35.label Total points -- max 24pts
    %td.span-10.data= @total_points
    

.chart
  %img{:src=>@chart_url}