.item
  ="#{grant.title} (#{grant.status}) from #{grant.awarded_by}"
  %br
  ="#{grant.start_date} to #{grant.end_date}"
  %br
  =grant.description
  -if defined? links and links
    =render :partial=>'cv_base/links', :locals=>{:one=>grant}
  %hr
